@import "~bootstrap/scss/bootstrap"

.homepage
    &--col
        margin-top: 20px

.signupform
    &--container
        margin-top: 50px
        width: 80%
    &--wrapper
        display: flex
        justify-content: center
.signin
    &--container
        width: 60%
        margin-top: 50px
.loginform
    &--form
        width: 60%

    &--wrapper
        display: flex
        justify-content: center
